main h1{
    text-align: center;
    color: rgb(238,164,80);
    font-size: 3rem;
}


#latest-products{
   width: 80%;
   margin: 2rem auto;
}

#latest-products ul{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.food-item{
list-style: none;
background-color: rgb(228,206,182);
border-radius: 6px;
overflow: hidden;
}


.food-item img{
height: 15rem;
width: 100%;
object-fit: cover;
}

/* 768px - mobile/tablet devices */
@media (max-width: 48rem){
   #main-header nav{
        display: none;
    }
    main h1{
        font-size: 1.5rem;
    }
    #latest-products ul{
        grid-template-columns: 1fr;
    }
  
   
}
